[Unit]
Description=edgescale

[Service]
User=root
Type=forking
ExecStart=/bin/sh /usr/local/edgescale/bin/startup.sh

[Install]
WantedBy=multi-user.target
